/* Basic setup footer */
#footer {
    display: flex;
    flex-direction: row;
    padding: 2% ;
    background-color: grey;
    color: white;
}

.footer-link {
    color: #000;
    display: inline !important;
    text-decoration: none;
}

.footer-link:hover{
    color: #FFF;
}

#footer > #contain-footer-icon , #footer > #footer-menu,#footer > #footer-team {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 32%;
}

/* Contain Footer Icon */
#footer > #contain-footer-icon {
    justify-content: center;
    align-items: center;
}

#footer > #contain-footer-icon > img{
    height: 100px;
    width: 100px;
}

/* Footer Name */
#footer > #footer-name{
    padding-top: 4% ;
}


/* Footer Menu */
#footer > #footer-menu{
    padding-top: 1%;
}

#footer > #footer-menu > .footer-link{
    margin-bottom : 5px ;
}

/* Footer Team */
#footer > #footer-team > #team-name{
    font-size: 42px;
    margin-bottom: 7%;
}