/*About Header */
.aboutFunction > #about-header{
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin: 0%;
}

/*About Team */
.aboutFunction > #team{
    position: absolute;
    bottom: 8%;
    left: 28%;
}
.aboutFunction > #team p {
    display: flex;
    justify-content: center;
    font-size: 80px;
}

/*About Character */
.aboutFunction > .character{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.aboutFunction > .character > #vu , .aboutFunction > .character > #thanh{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    padding-top: 15%;
    padding-bottom: 20%;
}
.aboutFunction > .character > #vu{
    background-image: url("../../../../public/image/about/vu-image.jpg");
}
.aboutFunction > .character > #thanh{
    background-image: url("../../../../public/image/about/thanh-image.jpg");
    padding-left: 27%;
}
.aboutFunction > .character > #vu > #about-icon i ,.aboutFunction > .character > #thanh > #about-icon i{
    color: #000;
    margin: 2px;
}