#about-header{
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin: 0%;
}

#team{
    position: absolute;
    bottom: 8%;
    left: 28%;
}
#team p {
    display: flex;
    justify-content: center;
    font-size: 80px;
}
#vu , #thanh{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    padding-top: 15%;
    padding-bottom: 20%;
}
#vu{
    background-image: url("https://scontent.fhan2-4.fna.fbcdn.net/v/t1.6435-9/42901902_2084600731868674_7995468439143579648_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=L5GcLC89d2cAX-Q5_zn&_nc_ht=scontent.fhan2-4.fna&oh=00_AT8lzCwe3Lq35oR4iLyBLU8sgBzTxNrFDwEC8e7XhixsVw&oe=62578DE6");
}
#thanh{
    background-image: url("https://scontent.fpnh22-2.fna.fbcdn.net/v/t39.30808-6/272805003_1885465181649365_1304130744382726828_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=174925&_nc_ohc=74ZUMr4gmdIAX_PtcmP&_nc_oc=AQnW21f3PppjFS6hUH_3OoU-nolz0JgLAXXN8pdSMkPsrzTP7F7RVLipUaL-HzhNYJenXgpVvXHNOtTsfXW4g1TB&_nc_ht=scontent.fpnh22-2.fna&oh=00_AT-mfVfA_SQshS21xOQsa0my_99fZ55sH_85LflnrfvJCg&oe=625A4C7F");
    padding-left: 27%;
}
#about-icon i{
    color: #000;
    margin: 2px;
}