.navbar {
  display: flex;
}

/* navbar user */
#navbar-user {
  display: grid;
  gap: 1em;
  grid-template-columns: 50px repeat(2, 1fr);
  grid-template-rows: repeat(2, 25px);
  color: var(--bs-secondary);
  margin-left: 1em;
}

#navbar-user-name {
  font-size: 24px;
  grid-area: 1 / 2 / span 1 / span 2;
}

#navbar-user-img {
  grid-area: 1 / 1 / span 2 / span 1;
  background-color: rgba( 256, 256, 256, 0.5);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  align-self: center;
}

#navbar-user-coins, #navbar-user-karma {
  font-size: 14px;
}

#navbar-user-loading {
  font-size: 24px;
  color: var(--bs-light);
  transform: rotate(360);
  transition: linear ;
  animation: user-loading 1s linear infinite;
}

@keyframes user-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
