#navbar-search {
  position: fixed;
  bottom: 10vh;
  right: 10vh;
  display: flex;
  flex-flow: column nowrap;
}

/* Search Trigger */
#navbar-search > .search-trigger {
  justify-self: flex-start;
  width: 50px;
  background-color: rgba(256, 256, 256, 0.7);
  border-radius: 5px;
  box-shadow: 0.1em 0.1em 0.2em;
}

/* No display form */
.no-display-form {
  display: none;
}

/* Display form */
.display-form {
  position: fixed;
  top: 20vh;
  right: 10vw;
  display: flex;
  width: 80vw;
  justify-content: center;
  box-shadow: 0.1em 0.1em 0.2em;
}

.display-form > .search-input {
  flex: 10 1;
  background-color: rgba(256, 256, 256, 0.9);
  border: 1px solid var(--bs-dark);
  border-left: none;
}

.display-form > .search-input:focus-visible {
  outline-color: transparent;
}

.display-form > .search-input:focus-visible::before {
  content: "";

}

.display-form > .search-submit {
  flex: 1 1;
  background-color: rgba(256, 256, 256, 0.7);
}

.display-form > .search-submit:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
